* {
  padding: 0px;
  margin: 0px;
  /*outline: solid 1px rgb(208, 0, 208);*/
}
.App {
  text-align: center;
}


.App-header {
  position: relative;
  background-color: #f6f8fa;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3840, 1fr);
  grid-template-rows: repeat(2160, 1fr);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
display: grid;
grid-template-columns: repeat(3840, 1fr);
grid-template-rows: repeat(183, 1fr);
position: relative;
height: 100%;
background-color: white;
grid-column-start: 1;
grid-column-end: 3840;
grid-row-start: 1;
grid-row-end: 183;
}

.yellowSquare {
border-radius: 25%;
position: absolute;
background-color:  #ffb436;
grid-column-start: 234;
grid-column-end: 264;
grid-row-start: 74;
grid-row-end: 104;
width: 100%;
height: 100%;
}

.blueSquare {
border-radius: 25%;
position: absolute;
background-color: #3686ff;
grid-column-start: 199;
grid-column-end: 229;
grid-row-start: 109;
grid-row-end: 139;
width: 100%;
height: 100%;
}

.redSquare {
border-radius: 25%;  
position: absolute;
background-color: #ff5680;
grid-column-start: 234;
grid-column-end: 264;
grid-row-start: 109;
grid-row-end: 139;
width: 100%;
height: 100%;
}

.greenSquare {
border-radius: 25%;
position: absolute;
background-color: #00ceac;
grid-column-start: 199;
grid-column-end: 229;
grid-row-start: 74;
grid-row-end: 104;
width: 100%;
height: 100%;
}

.tools {
position: absolute;
grid-column-start: 296;
grid-column-end: 328;
grid-row-start: 59;
grid-row-end: 124;
width: 100%;
height: 100%; 
color: black;
font-family: 'Fredoka One', cursive;
font-size: 24px;
font-weight:100;
text-align: left;
}

.headerLang {
  position: relative;
  top: 2px;
}

nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  grid-column-start: 796;
  grid-column-end: 998;
  grid-row-start: 69;
  grid-row-end: 134;
  gap: 60px;
  width: 100%;
  height: 100%; 
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight:100;
  text-align: left;  
}

.LangFlag {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight:100;
  text-align: left;
  grid-column-start: 2996;
  grid-column-end: 3096;
  grid-row-start: 59;
  grid-row-end: 124;
  color: black;
  gap: 10px;
}

.LangFlag img {
  border-radius: 20%;
  overflow: hidden;
  box-shadow: 0px 3px 10px red;
}

.createQuizz {
display: flex;
align-items: center;
justify-content: center;
color: white;
background-color: #00ceac;
position: absolute;
grid-column-start: 3346;
grid-column-end: 3656;
grid-row-start: 44;
grid-row-end: 145;
width: 100%;
height: 100%; 
font-family: 'Fredoka One', cursive;
font-size: 12px;
text-align: left;
border: none;
box-shadow: 0px 2px 0px green;
border-radius: 3%;
}

li {
  margin: 20px;
}

.quizForm {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(970, 1fr);
  grid-template-rows: repeat(1447, 1fr);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  grid-column-start: 199;
  grid-column-end: 1173;
  grid-row-start: 290;
  grid-row-end: 1965;
  }

  .quizForm h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 827;
    grid-row-start: 1;
    grid-row-end: 60; 
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    font-weight:100;
    text-align: left;
  }

  .result {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    grid-column-start: 1570;
    grid-column-end: 3656;
    grid-row-start: 501;
    grid-row-end: 531; 
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    font-weight:100;
    text-align: left; 
  }

  .quizForm p {
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    text-align: left;
    width: 100%;
    height: 100%;
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 1447;
    grid-row-start: 258;
    grid-row-end: 351;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
  }

  .inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 970;
    grid-row-start: 466;
    grid-row-end: 1517; 
    border: none;
  }

  input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 30px !important;
    background-color: white;
    padding-left: 10px;
    border: none;
    border-radius: 1%;
  }

  select {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    position: relative;
    top: 0px;
    text-align: left;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: 12px; 
    border: none;
    border-radius: 1%;
  }

  .lang {
    position: relative;
    top: 7px;
    height: 30px; 
    border: none;
  }

  .qNumber {
    position: relative;
    top: 0px;    
    height: 22px;
    border: none;
  }

  .long {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    top: 0px;
    text-align: left;
    width: 97.5%;
    height: 7%;
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: 12px; 
    border: none !important;
  }

  .topic {
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    text-align: left;
    height: 7%;
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px; 
    border: none;
  }

  .questionsNum {
    color: black;
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px; 
    border: none;
  }
  
  .language {
    color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    text-align: left;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 254, 254);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    border: none;
  }


  label {
  text-align: left;
  font-family: 'Fredoka One', cursive;
  font-size: 14px;
  font-weight:100;
  color: black;
  margin-top: 20px;
  margin-bottom: 16px;
  }

  .spLabel {
  position: relative;
  text-align: left;
  font-family: 'Fredoka One', cursive;
  font-size: 14px;
  font-weight:100;
  color: black;
  margin-bottom: 10px;
  }

  .resultScreen {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    grid-column-start: 1570;
    grid-column-end: 3656;
    grid-row-start: 611;
    grid-row-end: 1965; 
  }

  .screenText {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  width: 190px;
  }

  .inputNest {    
    display: flex;
    text-align: left;
    flex-direction: row;
  }  

  .inputInnerNest {
    display: flex;
    flex-direction: column;
    margin-right: 65px
  }

  .inputInnerNest2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 450px;
    text-align: left;
  }

  .inputInnerNest3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    text-align: left;
  }

.marginRight {
  margin-right: 30px;
}

.submit {
  height: 27px;
  margin-top: 20px;
  background-color: #00ceac;
  border: none;
  color: white;
  box-shadow: 0px 2px 0px green;
  border-radius: 1%;
}

::placeholder {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  border: none;
}

.resultScreenContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageLang {
  width: 50px;
  color: black;
  font-size: 18px;
}

.flagButton {
  border: none;
}

.flag {
  height: 25px;
  border: none;
}